@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
h1{
  font-size: 144px;
  color:#fff;
  margin: 14rem auto;
  border-bottom: 3px solid #1b4332;
}
h3{
  font-size: 80px;
  color:#1b4332;
}
